<nav class="navbar navbar-dark bg-primary">
    <a href="/home" class="navbar-brand" style="color: black;">
        GuiaPress
    </a>
    <div class="d-flex flex-row">
  <div class="p-2"><a href="/admin/categories" style="color: black;">Categorias</a></div>
  <div class="p-2"><a href="/admin/articles" style="color: black;">Artigos</a></div>
</div>
    
</nav>